{% extends "base_centered.html" %}
{% load static %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

{#  <form method="post" action="{% url 'login' %}">#}
{#    {% csrf_token %}#}
{#    <table>#}
{#      <tr>#}
{#        <td>{{ form.username.label_tag }}</td>#}
{#        <td>{{ form.username }}</td>#}
{#      </tr>#}
{#      <tr>#}
{#        <td>{{ form.password.label_tag }}</td>#}
{#        <td>{{ form.password }}</td>#}
{#      </tr>#}
{#    </table>#}
{#    <input type="submit" value="login">#}
{#    <input type="hidden" name="next" value="{{ next }}">#}
{#  </form>#}

<div class="w-100 m-auto text-center">
    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <img class="mb-3" src="{% static 'images/codeswallow.png' %}" alt="" width="250" height="150">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="signin-form text-start">
{#      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">#}
{#      <label for="floatingInput">Email address</label>#}
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div class="signin-form text-start">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>

    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock %}
